html, body {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* @font-face {
    font-family: "Lexend", sans-serif;
    scr: url('../polices/lexend.ttf');
    font-weight: normal;
    font-style: normal;
} */

#canvasMain {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans';
}